<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
    
  <title>Admin Panel</title>
    
	<!--
	<link href="assets/css/simplebar.css" rel="stylesheet" />
	<link href="assets/css/perfect-scrollbar.css" rel="stylesheet" />
	<link href="assets/css/metisMenu.min.css" rel="stylesheet" />
	<link href="assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="assets/css/app.css" rel="stylesheet">
	<link href="assets/css/icons.css" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/dark-theme.css" />
	<link rel="stylesheet" href="assets/css/semi-dark.css" />
	<link rel="stylesheet" href="assets/css/header-colors.css" />
  <link rel="stylesheet" href="/assets/css/chosen.min.css" />    
  <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css" /> 
  -->  
    
  <link rel="stylesheet" href="/static/admin/assets/css/all.css" />
    
	<link rel="stylesheet" href="/static/admin/assets/css/style.css" />
    
  <script>window.indexAppData = {csrfToken: ""}</script>
</head>

{{ embed }}

  <!--
	<script src="assets/js/bootstrap.bundle.min.js"></script>
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/simplebar.min.js"></script>
	<script src="assets/js/metisMenu.min.js"></script>
	<script src="assets/js/perfect-scrollbar.js"></script>
	<script src="assets/js/app.js"></script>
  <script type="text/javascript" src="/assets/js/chosen.jquery.min.js"></script>
  -->
    
	<script src="/static/admin/assets/js/all.js"></script>
    
	<script src="/static/admin/assets/js/scripts.js"></script>
</html>