<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
    
  <title>{{ .Title }}</title>
    
	<!--
	<link href="assets/css/simplebar.css" rel="stylesheet" />
	<link href="assets/css/perfect-scrollbar.css" rel="stylesheet" />
	<link href="assets/css/metisMenu.min.css" rel="stylesheet" />
	<link href="assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="assets/css/app.css" rel="stylesheet">
	<link href="assets/css/icons.css" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/dark-theme.css" />
	<link rel="stylesheet" href="assets/css/semi-dark.css" />
	<link rel="stylesheet" href="assets/css/header-colors.css" />
  <link rel="stylesheet" href="/assets/css/chosen.min.css" />    
  <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css" /> 
  -->  
    
  <link rel="stylesheet" href="/static/admin/assets/css/all.css" />
    
	<link rel="stylesheet" href="/static/admin/assets/css/style.css" />
    
  <script>window.indexAppData = {csrfToken: ""}</script>
</head>

<body style="overflow: auto;">
	<!--wrapper-->
	<div class="wrapper">
		<!--sidebar wrapper -->
		<div class="sidebar-wrapper" data-simplebar="true">
			<div class="sidebar-header">
				<div>
					<h4 class="logo-text">Admin Panel</h4>
				</div>
				<div class="toggle-icon ms-auto"><i class='bx bx-arrow-to-left'></i>
				</div>
			</div>
			<!--navigation-->
			<ul class="metismenu" id="menu">
				<li>
					<a target="_blank" href="/admin/monitor">
						Monitor
					</a>
				</li>
			</ul>
			<!--end navigation-->
		</div>
		<!--end sidebar wrapper -->
		<!--start header -->
		<header>
			<div class="topbar d-flex align-items-center">
				<nav class="navbar navbar-expand" style="width: 100%;">
					<div class="mobile-toggle-menu"><i class='bx bx-menu'></i>
					</div>
					<div style="margin-left: 6px;margin-right: 12px;">
						<div>
							<h5>{{ .Title }}</h5>
						</div>
					</div>
                    
                    <div style="width: 100%;white-space: nowrap;">
                    <div style="">
                    </div>
                    </div>
                    
					<div class="top-menu ms-auto" >
						<ul class="navbar-nav align-items-center">
							<li class="nav-item dropdown dropdown-large">
								<a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="{{ .UrlAdminLogout }}">
								<h6 style="">Выйти</h6>
                                </a>
								<div class="dropdown-menu dropdown-menu-end">
									<div class="row row-cols-3 g-3 p-3">
										
									</div>
								</div>
							</li>
							<li class="nav-item dropdown dropdown-large" style="display: none!important;">
								<a class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								</a>
								<div class="dropdown-menu dropdown-menu-end">
									<a href="javascript:;">
									</a>
									<div class="header-notifications-list">
										
									</div>
									<a href="javascript:;">
									</a>
								</div>
							</li>
							<li class="nav-item dropdown dropdown-large" style="display: none!important;">
								<a class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								</a>
								<div class="dropdown-menu dropdown-menu-end">
									<a href="javascript:;">
									</a>
									<div class="header-message-list">
									</div>
									<a href="javascript:;">
									</a>
								</div>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</header>
		<!--end header -->
		<!--start page wrapper -->
		<div class="page-wrapper">
			<div class="page-content">
				{{embed}}
			</div>
		</div>
		<!--end page wrapper -->
        
        <footer class="page-footer">
			<p class="mb-0">&nbsp;</p>
		</footer>
	</div>
	<!--end wrapper-->
    
   
</body>
  <!--
	<script src="assets/js/bootstrap.bundle.min.js"></script>
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/simplebar.min.js"></script>
	<script src="assets/js/metisMenu.min.js"></script>
	<script src="assets/js/perfect-scrollbar.js"></script>
	<script src="assets/js/app.js"></script>
  <script type="text/javascript" src="/assets/js/chosen.jquery.min.js"></script>
  -->
    
	<script src="/static/admin/assets/js/all.js"></script>
    
	<script src="/static/admin/assets/js/scripts.js"></script>
</html>