<body class="bg-login">
	<!--wrapper-->
	<div class="wrapper">
		<div class="section-authentication-signin d-flex align-items-center justify-content-center my-5 my-lg-0">
			<div class="container-fluid">
				<div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
					<div class="col mx-auto">
						<div class="mb-4 text-center">
						</div>
						<div class="card">
							<div class="card-body">
								<div class="border p-4 rounded">
									<div class="form-body">
										<form class="row g-3" method="POST" action="{{ .UrlAdminLogin }}">
											<div class="col-12">
												<label for="inputEmailAddress" class="form-label">Логин</label>
												<input type="text" name="login" value="{{ .Request.OldOrValue "Login" "" }}" class="form-control" id="" placeholder="">
                        <div class="text-danger">
                          {{ .Request.Error "Login" }}
                        </div>
											</div>
                      <div class="col-12">
												<label for="inputChoosePassword" class="form-label">Пароль</label>
												<div class="input-group" id="show_hide_password">
													<input type="password" name="password" value="" class="form-control border-end-0" id="" placeholder=""> <a href="javascript:;" class="input-group-text bg-transparent"><i class='bx bx-hide'></i></a>
												</div>
											  <div class="text-danger">
                          {{ .Request.Error "Password" }}
                        </div>
											</div>
                      {{ if .Request.Errors.IsUnRead }}
                      <div class="col-12">
                       <ul class="col-12">
                        {{ range .Request.Errors }}
                        {{ if .IsUnRead }}
                         <li class="text-danger">{{ .String }}</li>
                        {{ end}}
                        {{ end }}
                      </ul>
                      </div>
                      {{ end }}
											<div class="col-12">
												<div class="d-grid">
													<button type="submit" class="btn btn-primary"><i class="bx bxs-lock-open"></i>Войти</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--end row-->
			</div>
		</div>
	</div>
</body>

<script>
document.addEventListener('DOMContentLoaded', function(){
			$("#show_hide_password a").on('click', function (event) {
				event.preventDefault();
				if ($('#show_hide_password input').attr("type") == "text") {
					$('#show_hide_password input').attr('type', 'password');
					$('#show_hide_password i').addClass("bx-hide");
					$('#show_hide_password i').removeClass("bx-show");
				} else if ($('#show_hide_password input').attr("type") == "password") {
					$('#show_hide_password input').attr('type', 'text');
					$('#show_hide_password i').removeClass("bx-hide");
					$('#show_hide_password i').addClass("bx-show");
				}
			});
});
</script>